* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    background: url(/imgs/ChatGPT\ Image\ 4\ de\ abr.\ de\ 2025\,\ 13_41_00.png);
    background-repeat: repeat; /* repete a imagem horizontal e verticalmente */
    background-size: contain; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s ease-in-out;
    padding: 20px;
}

.navbar:hover {
    background-color: rgb(13, 68, 135);
}

.navbar h1 { 
    color: rgb(134, 185, 221);
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    font-weight: 500;
    color: rgb(134, 185, 221);
}

.slide1 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 30px;   
    margin: 3rem;
    border-radius: 10px;
    color: rgb(134, 185, 221);
    background-color: rgb(13, 68, 135);
}

.slide1 h1 {
  flex-direction: column;
}

.img img {
    width: 500px;
    height: 300px;
    color: black;
    -webkit-box-shadow: 0px 3px 11px 6px rgba(0,0,0,0.39);
-moz-box-shadow: 0px 3px 11px 6px rgba(0,0,0,0.39);
box-shadow: 0px 3px 11px 6px rgba(0,0,0,0.39);
}

.slide2 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 30px;   
    margin: 3rem;
    border-radius: 10px;
    color: rgb(134, 185, 221);
    background-color: rgb(13, 68, 135);
}

.img2 img {
    width: 500px;
    height: 300px;
    color: black;
    -webkit-box-shadow: 0px 3px 11px 6px rgba(0,0,0,0.39);
-moz-box-shadow: 0px 3px 11px 6px rgba(0,0,0,0.39);
box-shadow: 0px 3px 11px 6px rgba(0,0,0,0.39);
}

.vazio {
    height: 70vh;
}

.slide3 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 30px;   
    margin: 3rem;
    border-radius: 10px;
    color: rgb(134, 185, 221);
    background-color: rgb(13, 68, 135);
}

.img3 img {
    width: 500px;
    height: 300px;
    color: black;
    -webkit-box-shadow: 0px 3px 11px 6px rgba(0,0,0,0.39);
-moz-box-shadow: 0px 3px 11px 6px rgba(0,0,0,0.39);
box-shadow: 0px 3px 11px 6px rgba(0,0,0,0.39);
}

.slide4 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 30px;   
    margin: 3rem;
    border-radius: 10px;
    color: rgb(134, 185, 221);
    background-color: rgb(13, 68, 135);
}

.img4 img {
    width: 500px;
    height: 300px;
    color: black;
    -webkit-box-shadow: 0px 3px 11px 6px rgba(0,0,0,0.39);
-moz-box-shadow: 0px 3px 11px 6px rgba(0,0,0,0.39);
box-shadow: 0px 3px 11px 6px rgba(0,0,0,0.39);
}

.slide5 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 30px;   
    margin: 3rem;
    border-radius: 10px;
    color: rgb(134, 185, 221);
    background-color: rgb(13, 68, 135);
}

.img5 img {
    width: 500px;
    height: 300px;
    color: black;
    -webkit-box-shadow: 0px 3px 11px 6px rgba(0,0,0,0.39);
-moz-box-shadow: 0px 3px 11px 6px rgba(0,0,0,0.39);
box-shadow: 0px 3px 11px 6px rgba(0,0,0,0.39);
}

.slide6 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 30px;   
    margin: 3rem;
    border-radius: 10px;
    color: rgb(134, 185, 221);
    background-color: rgb(13, 68, 135);
}

.img6 img {
    width: 500px;
    height: 300px;
    color: black;
    -webkit-box-shadow: 0px 3px 11px 6px rgba(0,0,0,0.39);
-moz-box-shadow: 0px 3px 11px 6px rgba(0,0,0,0.39);
box-shadow: 0px 3px 11px 6px rgba(0,0,0,0.39);
}

.case-mw {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(13, 68, 135);
    padding: 20px;
    margin: 5rem;
    font-size: 28px;
    font-weight: bold;
    color: rgb(134, 185, 221);
    border-radius: 15px;
    -webkit-box-shadow: 0px 3px 11px 6px rgba(0,0,0,0.39);
-moz-box-shadow: 0px 3px 11px 6px rgba(0,0,0,0.39);
box-shadow: 0px 3px 11px 6px rgba(0,0,0,0.39);
}

.slide7 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 30px;   
    margin: 3rem;
    border-radius: 10px;
    color: rgb(134, 185, 221);
    background-color: rgb(13, 68, 135);
}

.img7 img {
    width: 500px;
    height: 300px;
    color: black;
    -webkit-box-shadow: 0px 3px 11px 6px rgba(0,0,0,0.39);
-moz-box-shadow: 0px 3px 11px 6px rgba(0,0,0,0.39);
box-shadow: 0px 3px 11px 6px rgba(0,0,0,0.39);
}

.slide8 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 30px;   
    margin: 3rem;
    border-radius: 10px;
    color: rgb(134, 185, 221);
    background-color: rgb(13, 68, 135);
}

.img8 img {
    width: 500px;
    height: 300px;
    color: black;
    -webkit-box-shadow: 0px 3px 11px 6px rgba(0,0,0,0.39);
-moz-box-shadow: 0px 3px 11px 6px rgba(0,0,0,0.39);
box-shadow: 0px 3px 11px 6px rgba(0,0,0,0.39);
}

.slide9 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 30px;   
    margin: 3rem;
    border-radius: 10px;
    color: rgb(134, 185, 221);
    background-color: rgb(13, 68, 135);
}

.img9 img {
    width: 500px;
    height: 300px;
    color: black;
    -webkit-box-shadow: 0px 3px 11px 6px rgba(0,0,0,0.39);
-moz-box-shadow: 0px 3px 11px 6px rgba(0,0,0,0.39);
box-shadow: 0px 3px 11px 6px rgba(0,0,0,0.39);
}

.slide10 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 30px;   
    margin: 3rem;
    border-radius: 10px;
    color: rgb(134, 185, 221);
    background-color: rgb(13, 68, 135);
}

.img10 img {
    width: 500px;
    height: 300px;
    color: black;
    -webkit-box-shadow: 0px 3px 11px 6px rgba(0,0,0,0.39);
-moz-box-shadow: 0px 3px 11px 6px rgba(0,0,0,0.39);
box-shadow: 0px 3px 11px 6px rgba(0,0,0,0.39);
}

.slide11 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 30px;   
    margin: 3rem;
    border-radius: 10px;
    color: rgb(134, 185, 221);
    background-color: rgb(13, 68, 135);
}

.img11 img {
    width: 500px;
    height: 300px;
    color: black;
    -webkit-box-shadow: 0px 3px 11px 6px rgba(0,0,0,0.39);
-moz-box-shadow: 0px 3px 11px 6px rgba(0,0,0,0.39);
box-shadow: 0px 3px 11px 6px rgba(0,0,0,0.39);
}